.body{
    background: #eee;
    color: black;
}


.market-heading{
    margin-top: 4rem;
    text-align: center;
}

.mart-table{
    margin-top: 4rem;
}

/* Stlyes for Register Page (starts here) */
.form-register{
    background: #ffff;
    width: 30%;
    height: 30rem;
    margin-top: 7rem;
    margin-left: 34rem;
}

.rigister-form-sub-container{
    margin-left: 7rem;
    margin-top: 2rem;
}


