.body{
    background: #eee;
    color: black;
}


.market-heading{
    margin-top: 4rem;
    text-align: center;
}

.mart-table{
    margin-top: 4rem;
}

/* Stlyes for Register Page (starts here) */
.form-register{
    background: #ffff;
    width: 30%;
    height: 30rem;
    margin-top: 7rem;
    margin-left: 34rem;
}

.rigister-form-sub-container{
    margin-left: 7rem;
    margin-top: 2rem;
}

.register-input-border{
    border-radius: 4px 4px;
    border: 2px solid rgb(219, 219, 219);
}

/* Stlyes for Login Page (starts here) */
.login-form{
    background: #ffff;
    width: 30%;
    height: 30rem;
    margin-top: 7rem;
    margin-left: 34rem;
}

.login-form-sub-container{
    margin-left: 7rem;
    margin-top: 5rem;
}

.login-input-border{
    border-radius: 4px 4px;
    border: 2px solid rgb(219, 219, 219);
}


