{% extends 'base.html' %} 
{% block title%}Home{%endblock%}

{%block content%}
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-touch="true" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{url_for('static', filename='mart1.jpg')}}" class="d-block mart-image-height" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{url_for('static', filename='mart2.jpg')}}" class="d-block mart-image-height" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
    </div>
  </div>

  <div class="text-nowrap bg-body-secondary border" style="width: 8rem;">
    <h3>Let's Get Started on Flasky<span class="text-warning">Mart</h3>
    <p class="font-monospace">We Are to Make your Life Easier with Marketing</p>
    <a href="{{url_for('market_page')}}"></a>
  </div>
{% endblock%}