{% extends 'base.html' %} 
{% block title%}Home{%endblock%}

{%block content%}
  
  <!--CAROUSEL STARTS HERE-->
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <img src="{{url_for('static', filename='girls1.jpg')}}" class="d-block img-fluid mart-image-height" alt="...">
      </div>
      <div class="carousel-item active" data-bs-interval="3000">
        <img src="{{url_for('static', filename='laptop1.jpg')}}" class="d-block mart-image-height" alt="...">
      </div>
      <div class="carousel-item active" data-bs-interval="3000">
        <img src="{{url_for('static', filename='phone1.jpg')}}" class="d-block mart-image-height" alt="...">
      </div>
      <div class="carousel-item active" data-bs-interval="3000">
        <img src="{{url_for('static', filename='router1.jpg')}}" class="d-block mart-image-height" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!--END OF CAROUSEL-->

  <!--LET'S GET STARTED MESSAGE-->
  <div align='center' class="text-nowrap border welcome-text-homePage">
    <h3 >Let's Get Started on Flasky<span class="text-warning">Mart</h3>
    <p  class="">We Are here to Make your Life Easier with Marketing</p>
    <a class="btn btn-primary " href="{{url_for('market_page')}}">Get-Started</a>
  </div>
  <!--LET'S GET STARTED MESSAGE ENDS HERE-->

  <!--PRODUCTS TRENDING CARDS STARTS HERE-->
  <h3 align='center' class='heading-for-product-trends'>Top Trending Products</h3>
  <div class='trends-products-container'>
    {% for item in items %}
    <div class="card" style="width: 20rem;">
      <!--<img src="data:image/jpeg;base64, {{ item.product_image }}" class="card-img-top" alt="...">-->
      <div class="card-body">
        <h5 class="card-title">{{item.product_name}}</h5>
        <p class="card-text">{{item.product_desc}}</p>
        <p class="card-text">{{item.product_price}}</p>
      </div>
    </div>
  {%endfor%}
  </div>
  <!--PRODUCTS TRENDING CARDS ENDS HERE-->

  <!--SIGN-UP HERE FOR MORE INFO SECTION STARTS HERE-->
    <div class='email-for-more-updates'>
      <h1 class='h1'>Subscribe to Our Newsletter</h1>
        <p class='paragraph'>Stay updated with our latest news and promotions.</p>
        <form action="#" method="post">
            <input class='input' type="email" name="email" placeholder="Enter your email" required>
            <input class='input'type="submit" value="Subscribe">
    </div>
  <!--SIGN-UP HERE FOR MORE INFO SECTION ENDS HERE-->

  <!--PRODUCTS PROMOTION SECTION STARTS HERE-->
  <h3 align='center' class='promo-heading'>Promotions</h3>
  <div class='promo-products-main-container'>
      <div class="promo-products">
        <img src='{{url_for('static', filename='promo1.jpg')}}' class='img-fluid'alt='...' />
        <h5  class='promo-title'>Sika Y3 MOgya Promo</h5>
        <p class="promo-text">
          <b>"</b>
          Promotion starts early next month
          <b>"</b>
        </p>
      </div>
      <div class="promo-products">
        <img src='{{url_for('static', filename='promo2.jpg')}}' class='img-fluid'alt='...' />
        <h5  class='client-review-username'>Sika Y3 MOgya Promo</h5>
        <p class="promo-text">
          <b>"</b>
          Promotions oo....
          <b>"</b>
        </p>
      </div>
      <div class="promo-products">
        <img src='{{url_for('static', filename='promo3.jpg')}}' class='img-fluid'alt='...' />
        <h5  class='client-review-username'>Sika Y3 MOgya Promo</h5>
        <p class="promo-text">
          <b>"</b>
          Pro-Pro
          <b>"</b>
        </p>
      </div>
  </div>
  <!--PRODUCTS PROMOTION SECTION ENDS HERE-->

  <!--CLIENTS REVIEW CARD STARTS HERE-->
  <div class='clients-reviews-main-container'>
    <h3 align='center'>Reviews</h3>
      <div class="clients-reviews">
        <img src='{{url_for('static', filename='girls1.jpg')}}' class='img-fluid client-review-image'alt='...' />
        <h5  class='client-review-username'>Mr. Opong Killer bean</h5>
        <p class="client-text">
          <b>"</b>
          After defining the model, you need to create the corresponding database 
          table by running a migration. If you haven't set up database migrations yet, 
          you can do so using a tool like Alembic, as mentioned in a previous answer.
          <b>"</b>
        </p>
      </div>
  </div>
  <!--CLIENTS REVIEW CARD ENDS HERE-->

  <!--FOOTER STARTS HERE-->
  <footer class="footer">
    <p>&copy; 2023 Flasky<span class="text-warning">Mart</span>. All rights reserved.</p>
    <p>Designed with ❤️ by <a href="https://www.linkedin.com/in/emmanuel-ofori-97439122b/" target="_blank">E Ofori</a></p>
  </footer>
  <!--FOOTER ENDS HERE-->

{% endblock%}