{% extends 'base.html' %} 
{% block title%}Home{%endblock%}

{%block content%}
  
  <!--CAROUSEL STARTS HERE-->
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="{{url_for('static', filename='mart1.jpg')}}" class="d-block mart-image-height" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="{{url_for('static', filename='laptop1.jpg')}}" class="d-block mart-image-height" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{url_for('static', filename='phone1.jpg')}}" class="d-block mart-image-height" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{url_for('static', filename='router1.jpg')}}" class="d-block mart-image-height" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!--END OF CAROUSEL-->

  <!--LET'S GET STARTED MESSAGE-->
  <div align='center' class="text-nowrap border welcome-text-homePage">
    <h3 >Let's Get Started on <i>Flasky<span class="text-warning">Mart</i></h3>
    <p  class="font-monospace">We Are here to Make your Life Easier with Marketing</p>
    <a class="btn btn-primary " href="{{url_for('market_page')}}">Get-Started</a>
  </div>
  <!--LET'S GET STARTED MESSAGE ENDS HERE-->

  <h3 align='center' class='heading-for-product-trends'>Top Trending Products</h3>
  <div class='trends-products-container'>
    {% for item in items %}
    <div class="card" style="width: 18rem;">
      <img src="data:image/jpeg;base64, {{ item.product_image }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{item.product_name}}</h5>
        <p class="card-text">{{item.product_desc}}</p>
        <p class="card-text">{{item.product_price}}</p>
      </div>
    </div>
  {%endfor%}
  </div>
{% endblock%}