{% extends 'base.html' %}

{%block title%}
    Login Page
{% endblock %}

{%block content%}
    <div class='login-form'>
        <form method='POST'>
            {{form.hidden_tag()}}
            <h4 align='center' class='text-primary pt-5'>Please Login Here</h4>
            <div class='login-form-sub-container'>
                {{form.username.label()}}
                <br />
                {{form.username(placeholder='Username', class='login-input-border')}}
                <br />
                <br />
                {{form.password.label()}}
                <br />
                {{form.password(placeholder='Password', class='login-input-border')}}
                <br />
                <br />
                <div>
                    <p>Do not have an account? <br /> Click here to register<a href='{{url_for('register_page')}}'>Register</a></p>
                </div>
                {{form.login(class='btn btn-primary m-1 ml-5')}}
                
            </div>
            


        </form>
    </div>
{%endblock%}
