{%extends 'base.html'%}
{% block title%}
    Market-page
{%endblock%}

{%block content%}
<!--CAROUSEL STARTS HERE-->
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <img src="{{url_for('static', filename='mart1.jpg')}}" class="d-block img-fluid mart-image-height" alt="...">
    </div>
    <div class="carousel-item active" data-bs-interval="3000">
      <img src="{{url_for('static', filename='mart2.jpg')}}" class="d-block mart-image-height" alt="...">
    </div>
    <div class="carousel-item active" data-bs-interval="3000">
      <img src="{{url_for('static', filename='mart3.jpg')}}" class="d-block mart-image-height" alt="...">
    </div>
    <div class="carousel-item active" data-bs-interval="3000">
      <img src="{{url_for('static', filename='mart4.jpg')}}" class="d-block mart-image-height" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!--END OF CAROUSEL-->

<!--Card to store the items in the Market-->
<div class="row mart-table">
  <div class="market-container">
    <h4 align='center'>Available Items</h4>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for item in items %}
        {% include 'includes/itemsmodals.html' %}
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ item.name }}</h5>
              <p class="card-text">Barcode: {{ item.barcode }}</p>
              <p class="card-text">Price: {{ dollar }}{{ item.price }}</p>
              <div class="d-grid gap-2">
                <button class="btn btn-outline-info" data-bs-toggle='modal' data-bs-target='#Modal-MoreInfo-{{ item.id }}'>More Info</button>
                <button class="btn btn-outline-success" data-bs-toggle='modal' data-bs-target='#Modal-PurchaseConfirm-{{ item.id }}'>Purchase this Item</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<!--Card to store the items in the Market Ends here-->

  <!--Products Added to cart-->
  <div class="col-4">
    Purchased Items
    <div class='row'>
      {%for owned_item in owned_items%}
      {% include 'includes/owned_items_modal.html'%}
        <div class='col-md-6'>
          <div class="card text-bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">Purchased Item</div>
            <div class="card-body">
              <h5 class="card-title">{{owned_item.name}}</h5>
              <p >This Item cost {{owned_item.price}} $</p>
              <button data-bs-target="#Modal-SellingConfirm-{{owned_item.id}}" data-bs-toggle="modal" class="btn btn-outline-danger">Sell This Item</button>
            </div>
          </div>
        </div>
      {%endfor%}
    </div>
  </div>
</div>

<!--FOOTER STARTS HERE-->
<footer class="footer">
  <p>&copy; 2023 Flasky<span class="text-warning">Mart</span>. All rights reserved.</p>
  <p>Designed with ❤️ by <a href="https://www.linkedin.com/in/emmanuel-ofori-97439122b/" target="_blank">E Ofori</a></p>
</footer>
<!--FOOTER ENDS HERE-->
 
 
{%endblock%}