{%extends 'base.html'%}
{% block title%}
    Market-page
{%endblock%}

{%block content%}
<!--Table to store the items in the Market-->
<div class="row mart-table">
  <div class="col-8">
    Available Items
    <table class="table table-bordered text-dark">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Barcode</th>
          <th scope="col">Price</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
          {%for item in items%}
          {% include 'includes/itemsmodals.html' %}
          <tr>
              <th scope="row">{{item.id}}</th>
              <td>{{item.name}}</td>
              <td>{{item.barcode}}</td>
              <td>{{dollar}}{{item.price}}</td>
              <td>
                  <button class="btn btn-outline btn-info" data-toggle='modal' data-target='#Modal-MoreInfo-{{item.id}}'>More Info</button>
                  <button class="btn btn-outline btn-success" data-toggle='modal' data-target='#Modal-PurchaseConfirm-{{item.id}}'>Purchase this Item</button>
              </td>
            </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-4">
    Purchased Items
    <div class='row'>
      {%for owned_item in owned_items%}
        <div class='col-md-6'>
          <div class="card text-bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h5 class="card-title">Light card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Sell This Item</a>
            </div>
          </div>
        </div>
      {%endfor%}
    </div>
  </div>
</div>
 
 
{%endblock%}