{%extends 'base.html'%}

{%block title%}
 Register Page
{%endblock%}

{%block content%}
    <div  class='form-register' >
        <img>
        <form method='POST'>
            {{form.hidden_tag()}}
            <h4 align='center' class='text-success'>Create an Account</h4>
            <div class='rigister-form-sub-container'>
                {{form.username.label()}}
                <br />
                {{form.username(placeholder='Username')}}
                <br />
                <br />
                {{form.email.label()}}
                <br />
                {{form.email(placeholder='Email')}}
                <br />
                <br />
                {{form.password1.label()}}
                <br />
                {{form.password1(placeholder='Password')}}
                <br />
                <br />
                {{form.password2.label()}}
                <br />
                {{form.password2(placeholder='Confirm Password')}}
                <br />
                <br/>
                {{form.submit(class='btn btn-success')}}
            </div>
        </form>
    </div>
{%endblock%}