{%extends 'base.html'%}

{%block title%}
 Register Page
{%endblock%}

{%block content%}
    <div  class='form-register' >
        <form method='POST'>
            <h3 align='center'>Register Form</h3>
            <div class='move'>
                {{form.username.label()}}
                <br />
                {{form.username(placeholder='Username')}}
                <br />
                <br />
                {{form.email.label()}}
                <br />
                {{form.email(placeholder='Email')}}
                <br />
                <br />
                {{form.password1.label()}}
                <br />
                {{form.password1(placeholder='Password')}}
                <br />
                <br />
                {{form.password2.label()}}
                <br />
                {{form.password2(placeholder='Confirm Password')}}
                <br />
                <br/>
                {{form.submit(class='btn btn-primary')}}

            </div>
        </form>
    </div>
{%endblock%}