{%extends 'base.html'%}

{%block title%}
 Register Page
{%endblock%}

{%block content%}
    <div  class='form-register' >
        <form method='POST'>
            {{form.hidden_tag()}}
            <h4 align='center' class='text-success pt-3'>Create an Account</h4>
            <div class='rigister-form-sub-container'>
                {{form.username.label()}}
                <br />
                {{form.username(placeholder='Username',class='register-input-border')}}
                <br />
                <br />
                {{form.email.label()}}
                <br />
                {{form.email(placeholder='Email', class='register-input-border')}}
                <br />
                <br />
                {{form.password1.label()}}
                <br />
                {{form.password1(placeholder='Password', class='register-input-border')}}
                <br />
                <br />
                {{form.password2.label()}}
                <br />
                {{form.password2(placeholder='Confirm Password', class='register-input-border')}}
                <br />
                <br/>
                <div>
                    <p>Already have an account ? <br /> Click here to sign-in<a href='{{url_for('login_page')}}'> Login</a></p>
                </div>
                {{form.submit(class='btn btn-success')}}
            </div>
        </form>
    </div>
{%endblock%}